@forward "env";

@font-face {
  src: url("/fonts/Geist.ttf") format('truetype');
  font-family: 'Geist';
}

:root {
  font-family: 'Geist', sans-serif;
  font-size: 18px;
}

*,
::before,
::after {
  box-sizing: border-box;
}

a {
  text-decoration: none;
  color: var(--text-color);
}

button {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10px;
  width: 100%;

  color: var(--button-text-color);
  background-color: var(--button-bg-color);

  border: none;
  border-radius: .71em;

  padding: 1em 2em;

  font-weight: 500;
  cursor: pointer;
}