@use '$scss/mixins/scr';
@use '$scss/mixins/bg';
@forward '../env';

@font-face {
	src: url('/fonts/Geist.ttf') format('truetype');
	font-family: 'Geist';
}

:root {
	font-family: 'Geist', sans-serif;
	font-size: 16px;

	@include scr.mobile {
		font-size: 14px;
	}
}

html,
body {
	min-height: 100%;
}

*,
::before,
::after {
	box-sizing: border-box;
}

a {
	text-decoration: none;
	color: var(--text-color);
}

button {
	cursor: pointer;

	&.icon {
		display: flex;
		background: none;
		border: 1px solid #e5e7eb;
		box-shadow: 0 1px 2px 0 #0000000d;
		border-radius: 10em;

		> * {
			margin: auto;
		}
	}

	&.button {
		display: flex;
		align-items: center;
		justify-content: center;
		gap: 10px;
		width: fit-content;

		color: var(--button-text-color);
		background-color: var(--button-bg-color);

		border: none;
		border-radius: 0.71em;

		padding: 1em 2em;

		font-weight: 500;
		cursor: pointer;

		box-shadow:
			0 4px 6px -4px #0000001a,
			0 10px 15px -3px #0000001a;

		&.round {
			width: 56px;
			height: 56px;
			border-radius: 10em;
			padding: 0;
		}
	}

	&.accent {
		@include bg.accent;
	}
}

.badge {
	width: fit-content;
	padding: 0.75em 2em;
	border: 1px solid #e5e7eb;
	border-radius: 5em;
}

h2 {
	font-size: 3rem;
	margin-top: 20px;
	margin-bottom: 20px;
}

.container {
	max-width: 1440px;
	margin-left: auto;
	margin-right: auto;

	padding-left: 20px;
	padding-right: 20px;
}
